@model System.Collections.Generic.IReadOnlyList<Star.FiddlerRunner.Common.SessionGroup>

@{
    ViewBag.Title = "Session Sequence's Groups";
}
<span style="margin-left: 25px">@Html.ActionLink("Session Sequence Index", "Index", "Sequence") > <i><b>@Model[0].SessionGroupSequence</b></i></span>

<h2>@ViewBag.Title</h2>
<h4>This <i>Session Sequence</i> contains the following group of sessions</h4>


<ul>
    @foreach (var group in Model)
    {
        <li>@group.Id - @Html.ActionLink("Sessions", "Sessions", "Group", new { id = group.Id }, new { })</li>
    }
</ul>
