@using Star.FiddlerRunner.Common
@model IReadOnlyList<Star.FiddlerRunner.Common.SessionGroupSequence>

@{
    ViewBag.Title = "Session Sequences";
}
<span style="margin-left: 25px">@Html.ActionLink("Session Sequence Index", "Index", "Sequence") </span>
<h2>@ViewBag.Title</h2>
<h4>A sequence would be defined as an user's journey across a series of web pages until a particular goal is achieved.</h4>

<ul>
    @foreach (var seq in Model)
    {
        <li>@seq.Id - @Html.ActionLink("Groups", "Groups", new { id = seq.Id })
            @if (!string.IsNullOrEmpty(seq.Name))
            {
                <ul>@Utility.Elispie(seq.Name, 100)</ul>
                if (!seq.Name.Equals(seq.Address))
                {
                <ul>@Utility.Elispie(seq.Address, 200)</ul>
                }
            }
        </li>
    }
</ul>
