@model System.Collections.Generic.IReadOnlyList<Star.FiddlerRunner.Common.PersistentFiddlerSession>

@{
    ViewBag.Title = "Sessions";
}

<span style="margin-left: 25px">@Html.ActionLink("Session Sequence Index", "Index", "Sequence") > @Html.ActionLink(@Model[0].SessionGroupSequenceId, "Groups", "Sequence", new { id = Model[0].SessionGroupSequenceId }, new { }) > <i><b>@Model[0].SessionGroupId</b></i></span>

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var session in Model)
    {
        <li>@session.Id.ToUpper()
            <ul><a href="https://localhost:7777/Response?@session.Id" target="_blank"><i>Cached Response</i></a></ul>
            <ul><a href="@session.Url" target="_blank">@Star.FiddlerRunner.Common.Utility.Elispie(@session.Url, 150)</a></ul>
            <ul>Length: @session.Len</ul>
        </li>
    }
</ul>
